<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment">
    <div class="py-12 footer">
        <div class="row">
            <div class="col-12 col-md" style="margin-right: 1em;">
                <small class="d-block mb-3 text-muted"
                >Copyright &copy; 2020 by soreply.com
                </small>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </div>
</footer>
</html>
