html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 2em 2em 3em 2em;
  margin: auto;
  margin-top: 3em;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 10px 10px 5px #777779;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin h1 {
  text-align: center;
}
.form-signin .btn {
  margin: auto;
  display: block;
}
.form-signin .error-message {
  margin-top: 1em;
  text-align: center;
  color: red;
}
.type-select {
  padding-bottom: 20px;
  text-align: center;
}
.type-select input {
  margin: 0em 0em 0em 1em;
}