<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorator="/teacher/layout">
<head>
    <title> 관리자 </title>
</head>

<!-- 페이지의 개별적인 css -->
<!--<th:block layout:fragment="css">-->
<!--    <link rel="stylesheet" href="/css/index.css" />-->
<!--</th:block>-->

<div layout:fragment="content">

    <main role="main">
        <form method="post" action="/teacher/paperTemplate/create">
        <div class="col-md-12 order-md-12 mb-12">
            <h4 class="mb-12"> 시험지 등록 </h4>
            <hr class="mb-4">
            <div class="row" style="margin-bottom: 5em;">
                <div class="col-md-12 mb-12">
                    <label for="paperName"> 시험지 명 </label>
                    <input type="text" class="form-control"
                           id="paperName" name="paperName" placeholder="" required>
                    <small class="text-muted"> 시험지 명을 입력해 주세요. </small>
                    <div class="invalid-feedback">
                        시험지 명이 비어있거나 올바르지 않습니다.
                    </div>
                </div>
            </div>

            <hr class="mb-4">
            <div class="col-md-6 mb-6 mx-auto">
                <button class="btn btn-secondary btn btn-block" type="submit">
                    등록하기
                </button>
            </div>

        </div>
        </form>
    </main>
</div>

</html>