<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<div class="container center-contents">
    <div class="row">
        <h1 class="title display-5 text-info"> Teacher  페이지 </h1>
    </div>
    <div class="links">

        <div class="link">
            <a href="/"> 홈 페이지 </a>
        </div>


        <div class="row">
            <div class="student-list col-3">

            </div>
            <div class="student-list col-6">
                <table class="table">
                    <tr>
                        <th>아이디 </th>
                        <th>이름 </th>
                    </tr>
                    <tr th:each="student:${studentList}" th:object="${student}">
                        <td th:text="*{id}"> hong  </td>
                        <td th:text="*{username}"> 홍길동 </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
<script th:src="@{/js/bootstrap.js}" />
</body>
</html>