server:
  port: 9057
  servlet:
    session:
      timeout: 60s

spring:

  thymeleaf:
    prefix: classpath:/templates/
    cache: false
    check-template-location: true

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:file:~/dev/temp/h2db/sessionmng;
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    generate-ddl: true
    hibernate:
      ddl-auto: update
