<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<div class="container center-contents">
    <div class="row">
        <h1 class="title display-5 text-danger"> 관리자 접근 권한이 없습니다. </h1>
    </div>
    <div class="links">

        <div class="link">
            <a href="/"> 메인 </a>
        </div>

    </div>
</div>
<script th:src="@{/js/bootstrap.js}" />
</body>
</html>